{% extends 'base.html.twig' %}

{% block title %}New Teams{% endblock %}

{% block body %}
    <h1 class="text-center">Créer nouvelle team</h1>

    {{ include('teams/_form.html.twig') }}

    <div class="text-center">
    <a href="{{ path('app_teams_index') }}">Retour à la liste</a>
</div>
{% endblock %}
