{% extends 'base.html.twig' %}

{% block title %}La Grosse Mite
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<h1 class="text-center">Association artistique La Grosse Mite</h1>
			<div class="row col-md-6">
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa recusandae consequuntur ipsam rerum explicabo. Nisi hic, minima sunt laborum aperiam suscipit, eveniet consequuntur quasi quidem error commodi aut quibusdam nobis.</p>
			</div>
			<div class="row col-md-6">
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa recusandae consequuntur ipsam rerum explicabo. Nisi hic, minima sunt laborum aperiam suscipit, eveniet consequuntur quasi quidem error commodi aut quibusdam nobis.</p>
			</div>
			<div class="row">
				<div class="d-grid gap-2 col-6 mx-auto">
					<button type="button" class="btn btn-primary btn-lg">
						<a href="/asso/" class="link-light text-decoration-none">L'association</a>
					</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
