{% extends 'admin.html.twig' %}

{% block title %}Edit Asso{% endblock %}

{% block body %}
    <h1>Edit Asso</h1>

    {{ include('asso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_asso_index') }}">back to list</a>

    {# {{ include('asso/_delete_form.html.twig') }} #}
{% endblock %}
