{% extends 'base.html.twig' %}

{% block title %}New Sections{% endblock %}

{% block body %}
    <h1 class="text-center">Créer nouvelle technique</h1>

    {{ include('sections/_form.html.twig') }}
<div class="text-center">
    <a href="{{ path('app_sections_index') }}">Retour à la liste</a>
</div>
{% endblock %}
