{% extends 'admin.html.twig' %}

{% block title %}Hello {{administrateur_name}}!{% endblock %}

{% block body %}
<h1 class="text-light">Administration du site</h1>
<p>Bienvenue sur l'espace administration du site.</p>



{% endblock %}
